@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --amplify-colors-background-primary: #2563EB;
    --amplify-primary-tint: #2563EB;
    --amplify-primary-shade: #2563EB;
}

amplify-s3-image {
    --height: 300px;
    --width: 300px;
  }